<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {%- if template == 'index' -%}{{ shop.name }}{%- else -%}{{ page_title }} — {{ shop.name }}{%- endif -%}
  </title>
  <meta name="description" content="{{ page_description | escape }}">
  {{ content_for_header }}
  {%- if template == 'index' -%}
    {{ 'homepage.css' | asset_url | stylesheet_tag }}
  {%- elsif template contains 'product' -%}
    {{ 'product.css' | asset_url | stylesheet_tag }}
  {%- endif -%}
</head>
<body>{{ content_for_layout }}</body>
</html>