
    {% render 'gp-head', isThemeSection: true %}
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-541175657762129072.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-541175657762129072.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-541175657762129072.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-541175657762129072.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-541175657762129072.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-541175657762129072.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-541175657762129072.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-541175657762129072.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-541175657762129072.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-541175657762129072.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-541175657762129072.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-541175657762129072.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-541175657762129072.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-541175657762129072.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-541175657762129072.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-541175657762129072.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-541175657762129072.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-541175657762129072.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-541175657762129072.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-541175657762129072.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-541175657762129072.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-541175657762129072.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-541175657762129072.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-541175657762129072.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-541175657762129072.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-541175657762129072.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-541175657762129072.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-541175657762129072.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-541175657762129072.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-541175657762129072.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-541175657762129072.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-541175657762129072.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-541175657762129072.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-541175657762129072.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-541175657762129072.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-541175657762129072.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-541175657762129072.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-541175657762129072.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-541175657762129072.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-541175657762129072.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-541175657762129072.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-541175657762129072.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-541175657762129072.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-541175657762129072.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-541175657762129072.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-541175657762129072.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-541175657762129072.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-541175657762129072.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-541175657762129072.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-541175657762129072.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-541175657762129072.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-541175657762129072.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-541175657762129072.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-541175657762129072.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-541175657762129072.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-541175657762129072.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-541175657762129072.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-541175657762129072.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-541175657762129072.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-541175657762129072.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-541175657762129072.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-541175657762129072.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-541175657762129072.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-541175657762129072.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-541175657762129072.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-541175657762129072.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-541175657762129072.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-541175657762129072.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-541175657762129072.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-541175657762129072.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-541175657762129072.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-541175657762129072.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-541175657762129072.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-541175657762129072.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-541175657762129072.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-541175657762129072.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-541175657762129072.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-541175657762129072.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-541175657762129072.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-541175657762129072.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-541175657762129072.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-541175657762129072.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-541175657762129072.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-541175657762129072.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-541175657762129072.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-541175657762129072.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-541175657762129072.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-541175657762129072.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-541175657762129072.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-541175657762129072.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-541175657762129072.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-541175657762129072.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-541175657762129072.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-541175657762129072.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-541175657762129072.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-541175657762129072 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-541175657762129072 .gp-g-s-medium{padding:8px 24px}.gps-541175657762129072 .gp-fixed{position:fixed}.gps-541175657762129072 .gp-relative{position:relative}.gps-541175657762129072 .gp-top-\[27px\]{top:27px}.gps-541175657762129072 .gp-z-\[100\]{z-index:100}.gps-541175657762129072 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-541175657762129072 .gp-mb-0{margin-bottom:0}.gps-541175657762129072 .gp-inline-block{display:inline-block}.gps-541175657762129072 .gp-flex{display:flex}.gps-541175657762129072 .gp-inline-flex{display:inline-flex}.gps-541175657762129072 .gp-grid{display:grid}.gps-541175657762129072 .gp-contents{display:contents}.gps-541175657762129072 .\!gp-hidden{display:none!important}.gps-541175657762129072 .gp-hidden{display:none}.gps-541175657762129072 .gp-h-auto{height:auto}.gps-541175657762129072 .gp-h-full{height:100%}.gps-541175657762129072 .gp-w-full{width:100%}.gps-541175657762129072 .gp-max-w-full{max-width:100%}.gps-541175657762129072 .gp-flex-none{flex:none}.gps-541175657762129072 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-541175657762129072 .gp-flex-col{flex-direction:column}.gps-541175657762129072 .gp-items-center{align-items:center}.gps-541175657762129072 .gp-justify-center{justify-content:center}.gps-541175657762129072 .gp-overflow-hidden{overflow:hidden}.gps-541175657762129072 .gp-break-words{overflow-wrap:break-word}.gps-541175657762129072 .gp-rounded{border-radius:4px}.gps-541175657762129072 .\!gp-bg-none{background-image:none!important}.gps-541175657762129072 .gp-p-\[16px\]{padding:16px}.gps-541175657762129072 .gp-text-\[14px\]{font-size:14px}.gps-541175657762129072 .gp-leading-normal{line-height:1.5}.gps-541175657762129072 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-541175657762129072 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-541175657762129072 .gp-no-underline{text-decoration-line:none}.gps-541175657762129072 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-541175657762129072 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541175657762129072 .gp-duration-200{transition-duration:.2s}.gps-541175657762129072 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-541175657762129072 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-541175657762129072 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-541175657762129072 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-541175657762129072 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-541175657762129072 .tablet\:\!gp-hidden{display:none!important}.gps-541175657762129072 .tablet\:gp-hidden{display:none}.gps-541175657762129072 .tablet\:gp-h-auto{height:auto}.gps-541175657762129072 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-541175657762129072 .mobile\:\!gp-hidden{display:none!important}.gps-541175657762129072 .mobile\:gp-hidden{display:none}.gps-541175657762129072 .mobile\:gp-h-auto{height:auto}.gps-541175657762129072 .mobile\:gp-flex-none{flex:none}}.gps-541175657762129072 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-541175657762129072 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLDD4V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v44/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gk3bUuySOP"}' data-id="gk3bUuySOP" id="gk3bUuySOP" data-same-height-subgrid-container class="gk3bUuySOP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gAT5P_v5r2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1gC8IjL0N"}' data-id="g1gC8IjL0N" id="g1gC8IjL0N" data-same-height-subgrid-container class="g1gC8IjL0N gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-32px;--pt:var(--g-s-4xl);--pb:var(--g-s-4xl);--mt-mobile:6px;--mb-mobile:0px;--pt-mobile:0px;--pb-mobile:var(--g-s-4xl);--pt-tablet:var(--g-s-4xl);--pb-tablet:var(--g-s-4xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIXEmbcFel gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gS8Y6cNzl_"}' data-id="gS8Y6cNzl_" id="gS8Y6cNzl_" data-same-height-subgrid-container class="gS8Y6cNzl_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mt-mobile:-74px;--pl-mobile:15px;--pr-mobile:15px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gA037PTQx7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLm6RUOREK"
        class="gLm6RUOREK"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.ggLm6RUOREK_text_-1520448612 | replace: '$locationOrigin', locationOrigin }}</p>
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpvift8AgX"
        class="gpvift8AgX"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p><a href="https://b1i9bd-14.myshopify.com/pages/support">{{ section.settings.ggpvift8AgX_text_385730690 | replace: '$locationOrigin', locationOrigin }}</a></p>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkXBYeGIbD"
        class="gkXBYeGIbD"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p><a href="https://b1i9bd-14.myshopify.com/pages/terms-of-service">{{ section.settings.ggkXBYeGIbD_text_-814579003 | replace: '$locationOrigin', locationOrigin }}</a></p>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmwQzivWCH"
        class="gmwQzivWCH"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p><a href="https://b1i9bd-14.myshopify.com/pages/shipping-policy">{{ section.settings.ggmwQzivWCH_text_883115459 | replace: '$locationOrigin', locationOrigin }}</a></p>
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMzNtfQqBv"}' data-id="gMzNtfQqBv" id="gMzNtfQqBv" data-same-height-subgrid-container class="gMzNtfQqBv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ge0TWQt-x9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGsmK5PYYp"}' data-id="gGsmK5PYYp" id="gGsmK5PYYp" data-same-height-subgrid-container class="gGsmK5PYYp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g3NVwphlg0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gj2BU_Jfv_"
        class="gj2BU_Jfv_"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:16px;--pt:6px;--pb:0px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;word-break:break-word;--pt:0px;overflow:hidden;--tdl:"
        >
          <p><a href="https://b1i9bd-14.myshopify.com/pages/legal-notice">{{ section.settings.ggj2BU_Jfv__text_-41049988 | replace: '$locationOrigin', locationOrigin }}</a></p>
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gG2XUnyvEX"
        class="gG2XUnyvEX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          <a href="https://b1i9bd-14.myshopify.com/pages/Privacy-policy">{{ section.settings.ggG2XUnyvEX_text_-53453260 | replace: '$locationOrigin', locationOrigin }}</a>
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="glDaoHKt8O gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--bc:transparent;--bw:0px;--bs:none;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl)">
      <gp-form
        data-id="gi3j73Ei57" id="gi3j73Ei57"
        data-callback='{"link":"","target":"_self"}'
      >
        <a
          hidden="true" id="gp-form-callback-gi3j73Ei57"
        >
        </a>
        {% form 'customer', class: 'gp-form-gi3j73Ei57 ', id: 'contact_form_gi3j73Ei57' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gi3j73Ei57"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggi3j73Ei57_errorMessage_-1125111609 }}
            </div>
          {% endif %}
          <div popover id="my-popover-gi3j73Ei57">
            <style>
              
    #my-popover-gi3j73Ei57::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gi3j73Ei57"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggi3j73Ei57_successMessage_-996757296 }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gcLG0RXOtc"}' data-id="gcLG0RXOtc" id="gcLG0RXOtc" data-same-height-subgrid-container class="gcLG0RXOtc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:0px;--cg-mobile:0px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g20KyaRooW gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-bL4i0nm9"
        class="g-bL4i0nm9"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-heading, heading);--weight:800;--size:30px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-bL4i0nm9_text_665734540 | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gmasxHodGu"
        class="gmasxHodGu"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:55px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#121212;--weight:bold;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.ggmasxHodGu_text_-829357505 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl:var(--g-s-l);--pr:var(--g-s-l);--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pl-mobile:var(--g-s-l);--pr-mobile:var(--g-s-l);--pt-mobile:var(--g-s-xl);--pb-mobile:var(--g-s-xl);--bc:#121212;--bw:1px 1px 1px 1px;--bs:none;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px">
      <gp-form
        data-id="g96Hf0DAKg" id="g96Hf0DAKg" data-submit-action="stay-on-page"
        data-callback='{"link":"","target":"_self","type":"stay-on-page"}'
      >
        <a
          hidden="true" id="gp-form-callback-g96Hf0DAKg"
        >
        </a>
        {% form 'customer', class: 'gp-form-g96Hf0DAKg ', id: 'contact_form_g96Hf0DAKg' %}
          {% if form.errors %}
            <div
              id="gp-form-error-g96Hf0DAKg"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.gg96Hf0DAKg_errorMessage_-1125111609 }}
            </div>
          {% endif %}
          <div popover id="my-popover-g96Hf0DAKg">
            <style>
              
    #my-popover-g96Hf0DAKg::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-g96Hf0DAKg"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.gg96Hf0DAKg_successMessage_-996757296 }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geBWz26jvZ"}' data-id="geBWz26jvZ" id="geBWz26jvZ" data-same-height-subgrid-container class="geBWz26jvZ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-74px;--ml:-122px;--mt-mobile:-82px;--ml-mobile:-10px;--mr-mobile:auto;--pl-mobile:0px;--pr-mobile:0px;--mt-tablet:-74px;--ml-tablet:-56px;--cg:0px;--cg-mobile:0px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVsygxlgcF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="g549iM6ad6"
      class="g549iM6ad6 flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pr:4px;--mt-mobile:0px;--ml-mobile:-4px;--mr-mobile:52px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 gp-g-s-medium !gp-outline-none !gp-bg-none email-form-g549iM6ad6"
        style="--w:313px;--w-tablet:313px;--w-mobile:100%;--h:auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:8px;--pb-mobile:8px;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--shadow:none"
        placeholder="{{ section.settings.gg549iM6ad6_placeholder_642995056 }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gCTzdvoseP gp-relative gp-flex gp-flex-col"
    >
      
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ml:-4px;--pl:0px;--ml-mobile:-54px;--mr-mobile:20px;--pl-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gX0icK168T"].gp-button-base::before, [data-id="gX0icK168T-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gX0icK168T"]:hover::before, [data-id="gX0icK168T-interaction"]:hover::before {
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
  }</style>
        
        <button
          data-id="gX0icK168T" dataId="gX0icK168T" data-state="idle" aria-label="JOIN"
          
          type="submit"
          style="--w:120px;--w-tablet:120px;--w-mobile:120px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:var(--g-c-brand, brand);--c:var(--g-c-text-3, text-3);--size:17px;--size-tablet:16px;--size-mobile:15px"
          class="gX0icK168T gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--size:17px;--size-tablet:16px;--size-mobile:15px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggX0icK168T_label_519320931 }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
    </div>

      
    </gp-row>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gWa4wHnsaJ"}' data-id="gWa4wHnsaJ" id="gWa4wHnsaJ" data-same-height-subgrid-container class="gWa4wHnsaJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:19px;--cg:var(--g-s-xl);--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g1gF0AI9XF gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gIbj6lB4Wm"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774624873942 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIbj6lB4Wm"
    >
      <a
        href="https://www.instagram.com/slumkid.clo/" target="_self" title="Image Title"
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_540891558526846187-e3a109ea-034b-49d9-929a-40dcf3b27c40.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzEwLTYxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgZmlsbD0idXJsKCNnLTcxMC02MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MTAiIHRvPSI3MTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_540891558526846187-e3a109ea-034b-49d9-929a-40dcf3b27c40.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzEwLTYxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgZmlsbD0idXJsKCNnLTcxMC02MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MTAiIHRvPSI3MTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_540891558526846187-e3a109ea-034b-49d9-929a-40dcf3b27c40.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzEwLTYxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzEwIiBoZWlnaHQ9IjYxMiIgZmlsbD0idXJsKCNnLTcxMC02MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03MTAiIHRvPSI3MTAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_540891558526846187-e3a109ea-034b-49d9-929a-40dcf3b27c40.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-mobile:auto;--objf:cover;--w:30px;--w-tablet:50px;--w-mobile:30px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ggZv12bPT0 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaqttZ4wYy"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774624873942 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaqttZ4wYy"
    >
      <a
        href="https://www.tiktok.com/@slumkid.clo" target="_self" title="Image Title"
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_540891558526846187-a9cd3e27-3ea7-4def-88ca-35536fa9db67.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzk0LTQyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgZmlsbD0idXJsKCNnLTM5NC00MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTQiIHRvPSIzOTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_540891558526846187-a9cd3e27-3ea7-4def-88ca-35536fa9db67.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzk0LTQyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgZmlsbD0idXJsKCNnLTM5NC00MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTQiIHRvPSIzOTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_540891558526846187-a9cd3e27-3ea7-4def-88ca-35536fa9db67.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMzk0LTQyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzk0IiBoZWlnaHQ9IjQyMCIgZmlsbD0idXJsKCNnLTM5NC00MjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0zOTQiIHRvPSIzOTQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_540891558526846187-a9cd3e27-3ea7-4def-88ca-35536fa9db67.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-mobile:auto;--objf:cover;--w:25px;--w-tablet:50px;--w-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gkO8v7qmHu gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gelmYg7rJr"
      style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774624873942 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gelmYg7rJr"
    >
      <a
        href="https://x.com/Slumkid_clo" target="_self" title="Image Title"
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_540891558526846187-0d8a8741-5b86-4e74-98b0-fcb47549fc6f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTI2LTUzNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgZmlsbD0idXJsKCNnLTUyNi01MzYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MjYiIHRvPSI1MjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_540891558526846187-0d8a8741-5b86-4e74-98b0-fcb47549fc6f.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTI2LTUzNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgZmlsbD0idXJsKCNnLTUyNi01MzYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MjYiIHRvPSI1MjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        title="Image Title" base-src="{{ "gempages_540891558526846187-0d8a8741-5b86-4e74-98b0-fcb47549fc6f.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTI2LTUzNiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTI2IiBoZWlnaHQ9IjUzNiIgZmlsbD0idXJsKCNnLTUyNi01MzYpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MjYiIHRvPSI1MjYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_540891558526846187-0d8a8741-5b86-4e74-98b0-fcb47549fc6f.png" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--aspect-mobile:auto;--objf:cover;--w:25px;--w-tablet:50px;--w-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gbD7bOPFjY gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gsyjw3SI9S"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774624873942 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsyjw3SI9S"
    >
      <a
        href="https://whatsapp.com/channel/0029Vau9UhCDJ6H6pQZlMy2x" target="_self" title
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_540891558526846187-5206f292-16b3-4690-a172-e6ae2bf8e4af.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTMwLTU0NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgZmlsbD0idXJsKCNnLTUzMC01NDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzAiIHRvPSI1MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_540891558526846187-5206f292-16b3-4690-a172-e6ae2bf8e4af.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTMwLTU0NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgZmlsbD0idXJsKCNnLTUzMC01NDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzAiIHRvPSI1MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_540891558526846187-5206f292-16b3-4690-a172-e6ae2bf8e4af.png" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTMwLTU0NCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTMwIiBoZWlnaHQ9IjU0NCIgZmlsbD0idXJsKCNnLTUzMC01NDQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MzAiIHRvPSI1MzAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_540891558526846187-5206f292-16b3-4690-a172-e6ae2bf8e4af.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:30/30;--aspect-tablet:30/30;--aspect-mobile:30/30;--objf:cover;--w:30px;--w-tablet:30px;--w-mobile:30px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </a>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gZ1D3aK9Tb"}' data-id="gZ1D3aK9Tb" id="gZ1D3aK9Tb" data-same-height-subgrid-container class="gZ1D3aK9Tb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gxTZrZLIvD gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQbWCZ04hw"
        class="gQbWCZ04hw"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--size:13px;--lh:150%;--fs:normal;--ff:var(--g-font-body, 'body'), var(--g-font-heading, heading);--weight:400;--ls:0px;--size-tablet:13px;--lh-tablet:150%;--size-mobile:12px;--ls-mobile:0px;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.ggQbWCZ04hw_text_1589222901 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="gPKAw2FWAa gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtv5fz38tg"}' data-id="gtv5fz38tg" id="gtv5fz38tg" data-same-height-subgrid-container class="gtv5fz38tg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl-tablet:15px;--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gLkz5Pryzl gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSu_j7_sMN"
        class="gSu_j7_sMN"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:28px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;--fs:normal;--ff:var(--g-font-Open-Sans, 'Open Sans'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          <p>{{ section.settings.ggSu_j7_sMN_text_1589222901 | replace: '$locationOrigin', locationOrigin }}</p>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    "presets": [{ "name": "pied de page custom" }],
    "name": "pied de page custom",
    "tag": "section",
    "class": "gps-541175657762129072 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/b1i9bd-14/apps/gempages-cro/app/shopify/edit?pageType=THEME_SECTION&editorId=541175657762129072)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLm6RUOREK_text_-1520448612","label":"ggLm6RUOREK_text_-1520448612","default":"About Us&nbsp;"},{"type":"html","id":"ggpvift8AgX_text_385730690","label":"ggpvift8AgX_text_385730690","default":"<a href=\"https://b1i9bd-14.myshopify.com/pages/support\"><u>Support</u></a>"},{"type":"html","id":"ggkXBYeGIbD_text_-814579003","label":"ggkXBYeGIbD_text_-814579003","default":"<a href=\"https://b1i9bd-14.myshopify.com/pages/terms-of-service\"><u>Terms of service</u></a>"},{"type":"html","id":"ggmwQzivWCH_text_883115459","label":"ggmwQzivWCH_text_883115459","default":"<a href=\"https://b1i9bd-14.myshopify.com/pages/shipping-policy\"><u>Shipping terms</u></a>"},{"type":"html","id":"ggj2BU_Jfv__text_-41049988","label":"ggj2BU_Jfv__text_-41049988","default":"<a href=\"https://b1i9bd-14.myshopify.com/pages/legal-notice\"><u>Legal notice</u></a>"},{"type":"html","id":"ggG2XUnyvEX_text_-53453260","label":"ggG2XUnyvEX_text_-53453260","default":"<a href=\"https://b1i9bd-14.myshopify.com/pages/Privacy-policy\"><u>Privacy policy</u></a>"},{"type":"html","id":"ggi3j73Ei57_successMessage_-996757296","label":"ggi3j73Ei57_successMessage_-996757296","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggi3j73Ei57_errorMessage_-1125111609","label":"ggi3j73Ei57_errorMessage_-1125111609","default":"Can’t send email. Please try again later."},{"type":"html","id":"gg-bL4i0nm9_text_665734540","label":"gg-bL4i0nm9_text_665734540","default":"SLUM KID WANTS TO BE A RICH MAN"},{"type":"html","id":"ggmasxHodGu_text_-829357505","label":"ggmasxHodGu_text_-829357505","default":"JOIN WAITLIST FOR DROP INFOS &amp; EARLY ACCESS"},{"type":"html","id":"gg96Hf0DAKg_successMessage_-996757296","label":"gg96Hf0DAKg_successMessage_-996757296","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"gg96Hf0DAKg_errorMessage_-1125111609","label":"gg96Hf0DAKg_errorMessage_-1125111609","default":"Can’t send email. Please try again later."},{"type":"html","id":"gg549iM6ad6_placeholder_642995056","label":"gg549iM6ad6_placeholder_642995056","default":"Email"},{"type":"html","id":"ggX0icK168T_label_519320931","label":"ggX0icK168T_label_519320931","default":"JOIN"},{"type":"html","id":"ggQbWCZ04hw_text_1589222901","label":"ggQbWCZ04hw_text_1589222901","default":"© Slum Kid 2024"},{"type":"html","id":"ggSu_j7_sMN_text_1589222901","label":"ggSu_j7_sMN_text_1589222901","default":"© Slum Kid 2024"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}